::selection {
    background-color: #f3b5b2;
}

body {
    background-image: url(../images/girl.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#login .container,
#sign .container {
    width: fit-content;
    padding-inline: 80px;
    margin-top: 120px;
    height: 400px;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
}

.inputs i {
    background-color: #f3b5b2;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #f3b5b2;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #f49c97;
}

.inputs input:focus {
    box-shadow: 0 0 0 0.25rem rgba(243, 129, 192, 0.5);
}

#sign p,
#login p {
    font-family: 'Nunito Sans', sans-serif;
}

#sign p a:hover,
#login p a:hover {
    text-decoration: underline !important;
}

.rules {
    font-size: 11px;
    font-style: italic;
}


/* ******************************************************* */

.welcome .welcome-sec {
    text-align: center;
    margin: 50px;
    height: 200px;
    background-color: var(--bg-color);
    box-shadow: -5px 2px 55px -10px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AE7267;
}

#logo {
    color: #AE7267;
}